Olá, Acabou de ser aberto o projeto <strong>{{projectName}}</strong>, edição <strong>{{projectEdition}}</strong> e você é parte da equipe!
Por favor, antes da primeira reunião dê uma lida no documento de abertura (segue em anexo) e nas informações a seguir sobre o projeto:

<ul>
  <li>Diretoria: {{projectDepartment}}</li>
  <li>Diretor: <a href="mailto:{{projectDirectorEmail}}">{{projectDirector}}</a></li>
  <li>Gerente: <a href="mailto:{{projectManagerEmail}}">{{projectManager}}</a></li>
  <li>
    Pasta no Drive: <a href="{{projectFolderUrl}}" target="_blank">SA-SEL / {{projectDepartment}} / {{projectName}} / {{projectEdition}}</a>
  </li>
  <li>
    Membros:
    <ul>
      {{projectMembersHtmlList}}
    </ul>
  </li>
</ul>

Contamos com a sua participação no projeto! Att., SA-SEL
