<p>Olá,</p>

<p>
  Acaba de ser aberto o projeto <strong>{{projectName}}</strong>, edição <strong>{{projectEdition}}</strong> e você é parte da equipe (e/ou
  da Diretoria)!
  <br />
  Por favor, antes da primeira reunião dê uma lida no documento de abertura (segue em anexo) e nas informações a seguir sobre o projeto:
</p>

<ul>
  <li>Área: {{projectFullDepartment}}</li>
  <li>Direção: <a href="mailto:{{projectDirectorEmail}}">{{projectDirector}}</a></li>
  <li>Gerência: <a href="mailto:{{projectManagerEmail}}">{{projectManager}}</a></li>
  <li>
    Pasta no Drive:
    <a href="{{projectFolderUrl}}" target="_blank">SA-SEL / {{projectFullDepartment}} / {{projectName}} / {{projectEdition}}</a>
    <ul>
      <li>
        Na raíz dessa pasta se encontra a planilha de "Controle de Projeto", que deve ser utilizada para gerar as atas de reuniões do
        projeto
      </li>
    </ul>
  </li>
  <li>
    Equipe:
    <ul>
      {{projectMembersHtmlList}}
    </ul>
  </li>
</ul>

<p>
  Ah, e um aviso importante também: não altere a estrutura da pasta do projeto no Drive. Claro, você pode criar pastas e arquivos novos à
  vontade, só não renomeie, mova ou exclua pastas/arquivos já existentes, porque eles podem usados por algum script. No caso de planilhas,
  por favor também não renomeie ou altere a ordem das abas, nem a esturura de células da planilha em si (só de novas abas que você possa vir
  a criar).
  <br />
  Se precisar fazer alguma alteração desse tipo, entre em contato com a Tecnologia ou a diretoria responsável pela pasta/arquivo que você
  quer editar.
</p>

<p>Contamos com o seu apoio no projeto!</p>

<p>
  Att.,
  <br />
  SA-SEL
</p>
